.description{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.upper{
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.u-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    line-height: 100px;
}
.u-left span:nth-child(1){
    font-size: 120px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: rgb(248, 158, 188);
}
.u-left span:nth-child(2){
    font-size: 100px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
   
}
.u-right{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    
}
.u-right span{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.lower{
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    border: 3px solid rgb(247, 170, 183);
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.639);

}
.card span:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 80%;
    background: gray;
    border-radius: 50%;

}
.card span:nth-child(1) img{
    height: 90%;
    width: 80%;
}
.card span:nth-child(2){
    font-size: 70px;
    font-family: "Pacifico", cursive;
    color: palevioletred;
}
.card span:nth-child(3){
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
.card button{
    display: flex;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    background: rgb(253, 72, 132);
    color: white;
    border: none;
    margin-top: 20px;

}
.card:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    background: pink;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px rgba(128, 128, 128, 0.639);
   border: none;
}
.card:nth-child(2) span:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 80%;
    background: white;
    border-radius: 50%;

}
.card span:nth-child(1) img{
    height: 90%;
    width: 80%;
}
.card:nth-child(2) span:nth-child(2){
    font-size: 70px;
    font-family: "Pacifico", cursive;
    color: white;
}
.card span:nth-child(3){
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
.card button{
    display: flex;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
    background: rgb(253, 72, 132);
    color: white;
    border: none;
    margin-top: 20px;

}